body{
  background-image: url(logi\ page\ Ui.png);
  background-repeat: no-repeat;
  background-size:cover;
}
#main{
   
   margin-top: 20%;
   margin-left: 40%;
   width: 300px;

}
#loginpage,#username,#password,#login,#signup{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
   
    
}
#loginpage{
    margin-left: 20px;
}
input{
    border-radius: 25px;
    padding: 9px;
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
}
input:hover,input:active{
    border: 3px solid black;
}
#login{
    cursor: pointer;
    margin-left: 40px;
    border-radius: 20px;
    border: 3px double aqua;
    background-color: aqua;
}
#signup{
    cursor: pointer;
    border-radius: 20px;
    border: 3px double aqua;
    background-color: aqua;
}

#login:hover,#login:active,#signup:hover,#signup:active{
    border: 3px solid aqua;
}